:root {
  --width: 34.5;
}

[data-theme="light"] {
  --color-background: #fff;
  --color-background-fg: #000;
  --color-background-fg-disabled: #ccc;
  --color-background-alt: #eee;
  --color-background-alt-fg-disabled: #888;
  --color-background-contrast: #333;
  --color-background-contrast-fg: #fff;
  --color-background-contrast-alt: #666;
  --color-background-contrast-alt-fg: #fff;
  --color-accent: #696;
  --color-accent-fg: #fff;
  --color-accent-alt: darkorange;
  --color-warning-bg: rgb(255, 237, 184);
  --color-warning-fg: #000;
  --color-shadow: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --color-background: #000;
  --color-background-fg: #fff;
  --color-background-fg-disabled: #888;
  --color-background-alt: #222;
  --color-background-alt-fg-disabled: #666;
  --color-background-contrast: #111;
  --color-background-contrast-fg: #fff;
  --color-background-contrast-alt: #222;
  --color-background-contrast-alt-fg: #fff;
  --color-accent: rgb(37, 82, 60);
  --color-accent-fg: #fff;
  --color-accent-alt: rgb(198, 133, 55);
  --color-warning-bg: rgb(73, 58, 16);
  --color-warning-fg: #fff;
  --color-shadow: rgba(0, 0, 0, 0);
}

[data-theme="dark"] pre.syntax-highlight {
  border: 1px solid var(--color-background-alt);
}

[data-theme="dark"] .memory-editor-table {
  border: 1px solid var(--color-background-alt);
}

[data-theme="dark"] .binary-dump-table {
  border: 1px solid var(--color-background-alt);
}

#ThemeToggle {
  float: right;
}

html {
  font-size: clamp(18px, 100vw / var(--width), 20px);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  color: var(--color-background-fg);
}

a, a:visited {
  color: var(--color-accent-alt);
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

h2, h3, p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

ul {
  margin-top: 1rem;
}

h1 sub {
  vertical-align: middle;
  padding: 0.25rem 0.5rem;
  font-size: 0.5em;
  font-weight: normal;
}

input:user-invalid {
  border-color: red;
}

p.warning {
  margin-top: 1rem !important;
  padding: 0.75rem !important;
  border-radius: 0.25rem;
  background-color: var(--color-warning-bg);
  color: var(--color-warning-fg);
}

body > header > h1 {
  font-weight: bold;
}

.container > *:not(.centered),
.container > *:not(.centered),
.container > *:not(.centered) {
  max-width: calc(1rem * var(--width));
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem 0;
}
.container > ul {
  padding-left: 5rem !important;
}
.container > .centered {
  display: flex;
  overflow-x: scroll;
  max-width: calc(100vw - 2.5rem);
  margin: 0 auto;
  padding: 1rem 1.25rem 0;
}
.container > .centered + .centered {
  padding-top: 0;
}
.container > .centered > * {
  margin: 0 auto 1rem;
}

footer {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}
footer > p {
  margin-top: 1rem;
}

select[name="memory-type"] {
  margin: 0.25rem;
}

input.field-name {
  width: 5rem;
}

.object-value-container {
  max-height: 50vh;
  overflow-y: scroll;
}

.memory-editor-table {
  overflow: hidden;
  box-shadow: 0 0 0.5rem var(--color-shadow);
  border-spacing: 0;
  border-radius: 0.25rem;
}

.memory-editor-table .memory-editor-table {
  margin: 0.25rem;
}

.memory-editor-table th {
  font-weight: inherit;
  padding: 0 0.4rem;
}

.memory-editor-table td {
  padding: 0.25rem 0.5rem;
}

.memory-editor-table thead {
  background-color: var(--color-accent);
  color: var(--color-accent-fg);
}

.memory-editor-table tbody > tr {
  background-color: var(--color-background);
}

.memory-editor-table tbody > tr:nth-child(2n) {
  background-color: var(--color-background-alt);
}

.memory-editor-table tbody .column-index {
  text-align: right;
}

pre,
code {
  font: 0.8rem/1.2rem "Consolas", Menlo, monospace;
  font-feature-settings: "lnum", "tnum";
}

pre {
  margin: 0;
}

pre.syntax-highlight {
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--color-background-contrast);
  border-radius: 0.25rem;
  overflow-x: auto;
  color: var(--color-background-contrast-fg);
}

.binary-dump-table {
  border-radius: 0.25rem;
  border-spacing: 0;
  box-shadow: 0 0 0.5rem var(--color-shadow);
}

.binary-dump-table > thead {
  background-color: var(--color-accent);
  color: var(--color-accent-fg);
  font: 0.8rem/1.2rem "Consolas", Menlo, monospace;
  -webkit-user-select: none;
  user-select: none;
}

.binary-dump-table > thead th {
  font-weight: inherit;
  padding: 0 0.4rem;
}

.binary-dump-table > tbody td {
  padding: 0 0.4rem;
  -webkit-user-select: none;
  user-select: none;
}

.binary-dump-table > thead .row-offset {
  background-color: var(--color-background-contrast-alt);
  color: var(--color-background-contrast-alt-fg);
}

.binary-dump-table > tbody .column-offset {
  background: var(--color-background-alt);
  color: var(--color-background-alt-fg-disabled);
}

.binary-dump-table > tbody .column-hex {
  -webkit-user-select: auto;
  user-select: auto;
}

.binary-dump-table > tbody .column-hex .byte {
  -webkit-user-select: all;
  user-select: all;
}

.binary-dump-table > tbody .column-hex .space {
  -webkit-user-select: none;
  user-select: none;
}

.binary-dump-table > tbody .column-ascii .non-printable {
  color: var(--color-background-fg-disabled);
}

.binary-dump-table .column-hex .space:nth-of-type(8n) {
  display: inline-block;
}
.binary-dump-table .column-hex .space:nth-of-type(8n)::before {
  content: " ";
  border-right: 1px solid var(--color-background-fg-disabled);
}
